<footer>
    <div class="container" hidden="">
        <div class="row"> {% if informations %}
            <div class="col-sm-3">
                <h5>{{ text_information }}</h5>
                <ul class="list-unstyled">
                    {% for information in informations %}
                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="col-sm-3">
                <h5>{{ text_service }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                    <li><a href="{{ return }}">{{ text_return }}</a></li>
                    <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>{{ text_extra }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                    <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                    <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                    <li><a href="{{ special }}">{{ text_special }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>{{ text_account }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ account }}">{{ text_account }}</a></li>
                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                    <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                    <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                </ul>
            </div>
        </div>
        {# <hr>
        <p>{{ powered }}</p> #}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h4>{{ name }}</h4>
                <p>{{ address }}</p>
                <p>{{ telephone }}</p>
                <p>{{ email }}</p>
            </div>
            <div class="col-md-6">
                <div class="fb-page" data-href="{{ fanpage }}" data-tabs="timeline" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{ fanpage }}" class="fb-xfbml-parse-ignore"><a href="{{ fanpage }}"></a></blockquote></div>
            </div>
        </div>
    </div>
    <div class="spacer30"></div>
    <div class="copyright">
        <div class="container text-center">
            <p>Copyright © 2019. All rights reserved. Designed by QTS</p>
        </div>
    </div>
</footer>
<script>
    window.fbAsyncInit = function() {
    FB.init({
      appId            : 'your-app-id',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/vi_VN/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% for script in scripts %} 
<script src="{{ script }}" type="text/javascript"></script> 
{% endfor %} 
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>